.header {
	background-color: #333;
	color : #fff;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	background-position: right;
	background-repeat: no-repeat;
	background-size: 22%;
	padding-bottom: 1rem;
}

.menu {
	background-color: #333;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: fixed;
	left: -250px;
	top: 7rem;
	transition: all 0.3s ease-in-out;
	width: 12rem;
	z-index: 1;
}

.menu.show {
	left: 0;
}

.menu-btn {
	background-color: #333;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 1rem 1rem;
	position: fixed;
	left: 10px;
	top: 1rem;
	z-index: 2;
	width: 100px;
}

.menu-btn:focus {
	outline: none;
}
  
.menu-btn:hover {
	background-color: #555;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 10px;
	padding-top: 10px;
}

a {
	color: #fff;
	display: block;
	padding: 1rem;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

a:hover {
	background-color: #fff;
	color: #333;
}